body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.game{
  margin-left: 27.5vw;
}
.top{
  display: block;
  margin:  auto;
  width: 55%;
}
.retry{
  margin-left: 18.5vw;
}
.box{
  width: 10vw;
  height: 10vw;
  border: 2px solid black;
  float: left;
  font-size: 15vw;
  text-align: center;
}

.grid div:nth-of-type(3n+4){
  clear: both;
}

.grid div:nth-of-type(1){
  border-top: none;
  border-left: none;
}
.grid div:nth-of-type(2){
  border-top: none;
}
.grid div:nth-of-type(3){
  border-top: none;
  border-right: none;
}
.grid div:nth-of-type(4){
  border-left: none;
}
.grid div:nth-of-type(6){
  border-right: none;
}
.grid div:nth-of-type(7){
  border-bottom: none;
  border-left: none;
}
.grid div:nth-of-type(8){
  border-bottom: none;
}
.grid div:nth-of-type(9){
  border-right: none;
  border-bottom: none;
}
